---
---

@import "{{ site.theme }}";

#social {
    display: flex;
    justify-content: space-evenly;
}

header {
    background: #3182CE;
}

#tabs {
    display: flex;
    flex-direction: column;
}

#tabs a {
    background-color: red;
}

footer p {
    margin-bottom: 0;
    line-height: 1.2;
}
