<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/b878c7a1c8.js" crossorigin="anonymous"></script>
    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% endif %}
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        <div id="social">
            <a href="https://twitter.com/EliW"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.facebook.com/EliWhite"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/eliwhite/"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="{{ site.github.owner_url }}"><i class="fab fa-github fa-2x"></i></a>
        </div>
        <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
            <li><a class="buttons github" href="https://twitter.com/EliW">GitHub Profile</a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> because Eli is lazy.</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>

  <!-- Original theme: Dinky —— Modified by Eli -->
</html>
